
body {
	overflow: hidden;
	margin: 0;
}

.webGL {
	overflow: hidden;
	background-color: black;
	height: 100vh;
	width: 100vw;
}

.loading {
	position: relative;
	height: 100%;
	width: 100%;
}

.loading-text {
	position: absolute;
	width: 100%;
	top: 50%;
	margin-top: -30px;
	color: white;
	text-align: center;
	font-size: 60px;
	font-family: courier;
}
